.canvas_course {
    background-color: white;
    width: 250px;
    height: 250px;
    margin:0 50px 50px 0;
    //position: absolute;
    //float: left;
}

.canvas_course h1 {
    font-size: 15pt;
}

#canvas_course_container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
}

.canvas_course_button {
    width: 30px;
    height: 30px;
    background-color: dimgray;
    position: absolute;
    bottom: 0px;
    right: 0px;
}