.canvas_course {
    background-color: white;
    width: 250px;
    height: 250px;
    position: absolute;

}

.canvas_course h1 {
    font-size: 15pt;
}

#canvas_course_container {
    position: absolute;
    top: 0;
    left: 0;
}

.canvas_course_button {
    float : right;

}