#KCInformation {
    background-color: #292929;
    width: 40%;
    height: 80%;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-top: 5em;
    transform: translateX(-50%) translateY(-50%);
    display: none;  /* This must be set to flex when visible. */
    flex-flow: column;
    overflow: auto;
    border-radius: 50pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#KCInfoScreen {
    width: 100%;
    height: 100%;
    float:left;
}

#KCInformation .header {
    width: 100%;
    height: 48pt;
    text-align: center;
    padding-bottom: 5pt;
    
}

#KCInformation .header h1 {
    color: #bababa;
    font-size: 24pt;
}

#KCInformation .container {
    flex-grow: 1;
    padding: 0;
    width: 100%;
}

#KCInformation .container h1 {
   font-size: 15pt;
   margin-top: 5pt;
   margin-bottom: 0pt;
}

#courseKCList {
    /* TODO make it pretty */
    background-color: white;
}

#closeCourseButton {
    position: fixed;
    top: 17pt;
    right: 50pt;
    color: #292929;
}
