@charset "UTF-8";


body {
	background-color : #404040;
	height: 100%;
	color: #bababa;
}

#canvas_container {
	position: relative;
	overflow: scroll;
	width: 75%;
	height: 500px;
	border: #292929;
	float: right;
}
canvas{
	display: flex;
	justify-content: center;
	width: 5000px;
	height: 3000px;
}
.SearchResult {
	background-color : #404040;
	padding : 5px;
	height: auto;
	display: block;
}

.SearchResultContainer>.SearchResult:hover {
	background-color : orange;
	color: white;
	height: auto;
}

.SearchResultExpander {
	display : none;
}

.SearchResult:hover .SearchResultExpander {
	display : block;
}

.SearchResultContainer>div:nth-child(odd){
 background-color: #404040;
}
.SearchResultContainer>div:nth-child(even){
 background-color: #4b4b4b;
}

.navbar.navbar-inverse {
	border-radius: 0;
	background-color: #292929;
}

.navbar-inverse {
	border-bottom: none;
}

input {
  background: #404040;
  border: 1px solid #474747;
  color: #bababa;;
  padding-left: 10px;
  border-radius: 5px;
}

.navbar-brand a {
	color: orange; 
	text-decoration: none;
}